/* Block to modify website's dark-theme colors */
body.dark-theme {
  /* dark theme colors */
  --background: #000040;
  --background-secondary: #000020;
  --header: #000030;
  --color: #c2c1cf;
  --color-secondary: #d2d1dd;
  --border-color: #d2d1dd;
}

/* Block to modify website's code snipett's background color */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #000020 !important;
}

/* Block to modify website's animated logo cursor's color */
.logo__cursor {
    background-color: #0080ff;
  }

.image-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

a.social-icon img {
  display: inline-block;
  margin: 10px;
  padding: 10px
}

.framed {
  padding: 15px;
  border-radius: 10px;
  border: 0px solid #0080ff;
  max-width: 800px;
  background-color: var(--background-secondary);
}

.anchor { 
  font-size: 75%; 
  visibility: hidden; 
  color:currentColor;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a { 
  visibility: visible;
  opacity: 60%;
  text-decoration: none;
}

.collapsable-code {
  position: relative;
  width: 100%;
  margin: 20px 0;