/* Block to modify website's dark-theme colors */
body.dark-theme {
  /* dark theme colors */
  --background: #000040;
  --background-secondary: #000020;
  --header: #000030;
  --color: #c2c1cf;
  --color-secondary: #d2d1dd;
  --border-color: #d2d1dd;
}

.content {
  margin: 50px 0 20px;
}

.footer {
  padding: 10px 20px;
}

h2 {
    margin-top: 30px;
}

/* Block to modify website's code snipett's background color */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #000020 !important;
}

/* Block to modify website's animated logo cursor's color */
.logo__cursor {
    background-color: #0080ff;
}

/* Blocks to set margin and separator before Disqus comments */
.pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}

hr.comments {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Block to style social icons */
a.social-icon img {
  display: inline-block;
  margin: 10px;
  padding: 10px
}

/* Block to style intro frame in landing page (_index.md) */
.framed {
  padding: 15px;
  border-radius: 10px;
  border: 0px solid #0080ff;
  max-width: 800px;
  background-color: var(--background-secondary);
}

/* Blocks style heading anchor style and effects */
.anchor { 
  font-size: 75%; 
  visibility: hidden; 
  color:currentColor;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a { 
  visibility: visible;
  opacity: 60%;
  text-decoration: none;
}

/* Block to override code.css to reduce margin */
.collapsable-code {
  position: relative;
  width: 100%;
  margin: 20px 0;
}
